APP_PORT=8080

DB_DATABASE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Secret key can be generated with 'openssl rand -base64 64' on terminal/shell
ACCESS_SECRET_KEY="your-random-64-character-secret-key"
REFRESH_SECRET_KEY="your-random-64-character-secret-key"