DB_DATABASE={postgres}
DB_PORT={5432}
DB_USER={postgres}
DB_PASSWORD={password}

# Secret key can be generated with 'openssl rand -base64 64' on terminal/shell
SECRET_KEY="your-random-64-character-secret-key"